<div class="row">
    <div class="large-12 columns">
      <h4>Adicionar Pessoa</h4>

      <div data-alert class="alert-box" tabindex="0" aria-live="assertive" role="dialogalert" ng-show="Alert">
        {{result}}
        <button href="#" tabindex="0" class="close" aria-label="Close Alert">&times;</button>
      </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
      <p><label>Nome:</label> <input type="text" ng-model="pessoa.nome"></p>
      <p><label>Cidade:</label> <input type="text" ng-model="pessoa.cidade"></p>
      <button ng-click="adicionar();" class="small button">Adicionar a lista</button>
    </div>
</div>

<div class="row">
  <div class="large-12 columns">
      <a href="#/" class="medium success button">Voltar para a listagem</a><br/>
  </div>
</div>
