<div class="row">
    <div class="large-12 columns">
      <h4>Editar Pessoa</h4>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
      <p><label>Nome:</label> <input type="text" ng-model="pessoa.nome"></p>
      <p><label>Cidade:</label> <input type="text" ng-model="pessoa.cidade"></p>
    </div>
</div>
<div class="row">
  <div class="large-12 columns">
      <a href="#/" class="medium success button">Voltar para a listagem</a><br/>
  </div>
</div>
