<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="index.php">AngularJS - Estudos</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Códigos criados</a>
        <ul class="dropdown">
          <li class="has-dropdown">
            <a href="#">Controllers e eventos</a>
            <ul class="dropdown">
              <li><a href="index.php">Hello World</a></li>
              <li><a href="hide-show.php">Hide/Show</a></li>
              <li><a href="change.php">Change</a></li>
              <li><a href="controllers.php">Controllers</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#">Filtros</a>
            <ul class="dropdown">  
              <li><a href="filter.php">Filtro Simples</a></li>
              <li><a href="filter2.php">Filtro 2</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#">Módulos</a>
            <ul class="dropdown">  
              <li><a href="01.php">Módulo Simples</a></li>
              <li><a href="02.php">Módulo com injeção de dependência</a></li>
              <li><a href="03.php">Módulo com mais de um controller</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#">Repetições e CRUD</a>
            <ul class="dropdown">  
              <li><a href="lista-repeticao.php">Lista Repetição</a></li>
              <li><a href="options.php">Selecionar Pessoa</a></li>
              <li><a href="adicionar-remover.php">Adicionar/Remover Pessoa</a></li>
              <li><a href="app-base.php">Aplicativo base/Rotas</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#">Diretivas</a>
            <ul class="dropdown">  
              <li><a href="diretiva.php">Diretiva Personalizada</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#">Serviços</a>
            <ul class="dropdown">  
              <li><a href="templates.php">Carregar informações em templates</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="active"><a href="https://bitbucket.org/rafapaulino/angularjs" target="_blank">Baixar o código no repositório</a></li>
    </ul>
  </section>
</nav><br>