<div class="row">
   <ul class="small-block-grid-3">
      <li ng-repeat="pessoa in pessoas | filter:busca">
        <a href="#/editar/{{$index}}" data-tooltip aria-haspopup="true" class="has-tip" title="Editar o registro da pessoa: {{pessoa.nome}}">{{pessoa.nome}}, {{pessoa.cidade}}</a>
        <br><br><button ng-click="remover($index);" class="small button">Remover</button>
      </li>
   </ul>
</div>
<div class="row">
  <div class="large-12 columns">
      <a href="#/adicionar" class="medium alert button">Adicionar pessoa</a><br/>
  </div>
</div>