<form>
  <div class="row">
    <div class="large-12 columns">
      <label>Busca</label>
      <input type="text" ng-model="busca" />
    </div>
  </div>
</form>

<div class="row">
    <div class="large-12 columns">
      <ul class="small-block-grid-3">
        <li ng-repeat="pessoa in pessoas | filter:busca">{{pessoa.nome}}, {{pessoa.carro}}</li>
      </ul>
    </div>
</div>